
.round-close-button-tip {
    padding: 15px 15px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    box-shadow: none;
    border: none;
    background: transparent;
}
.round-close-button-tip:hover {
  background: #49494a !important;
  box-shadow: none;
  border: none;
}

.round-close-button-tip:focus {
  background: #565656 !important;
  box-shadow: none;
  border: none;
}
