
.percentage{
  font-size: 35px;
  position: relative !important;
  bottom: 100px;
  text-align: -webkit-center;
}

.line-percentage {
  padding-bottom: 15% !important;
  padding-top: 15% !important;
}
