.plugin_div_wmd-input {
    position: absolute !important;
    left: 620px;
    bottom: 25px;
}


.plugin_div_title {
    position: absolute !important;
    left: 620px;
    bottom: 24px;
}

.plugin_div_title_suggestion {
    position: absolute !important;
    left: 620px;
    bottom: 215px;
}

.plugin_div_tag-editor {
    position: absolute !important;
    left: 620px;
    bottom: 2px;
}



.round_button-error {
  font-family: arial;
  color: #FFFFFF !important;
  width: 25px;
  height: 25px;
  text-align: center;
  vertical-align: middle;
  padding: 8px 8px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #E41F2F !important;
}
.round_button-error:hover {
  color: #FAFDFF !important;
  background: #d03c3c !important;
}
.round-button-error:focus {
  background: #d04848 !important;
  box-shadow: none;
  border: none;
}


.round_button-warning {
  font-family: arial;
  color: #FFFFFF !important;
  width: 25px;
  height: 25px;
  text-align: center;
  vertical-align: middle;
  padding: 8px 8px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #FF9A00 !important;
}
.round_button-warning:hover {
  color: #FAFDFF !important;
  background: #fbab2b !important;
}
.round-button-warning:focus {
  background: #f9b13e !important;
  box-shadow: none;
  border: none;
}


.round_button-success {
  font-family: arial;
  color: #FFFFFF !important;
  width: 25px;
  height: 25px;
  text-align: center;
  vertical-align: middle;
  padding: 8px 8px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #00A047 !important;
}
.round_button-success:hover {
  color: #FAFDFF !important;
  background: #52a953 !important;
}
.round-button-success:focus {
  background: #71bd72 !important;
  box-shadow: none;
  border: none;
}



.tip-number {
  margin-top: -3px;
  margin-left: -3px;
  font-size: 13px !important;
}


.round-close-button-plugin-tip {
    padding: 15px 15px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    box-shadow: none;
    border: none;
    background: transparent;
}

.round-close-button-plugin-tip:hover {
  background: #4858b3 !important;
  box-shadow: none;
  border: none;
}

.round-close-button-plugin-tip:focus {
  background: #5362b5 !important;
  box-shadow: none;
  border: none;
}


.app-bar {
  position: sticky;
}



.plugin_percentage {
  padding-left: 30%;
}





.dialog-divider {
  flex: 1;
}

.dialog-title {
  flex: 3;
}

.dialog-content {
  margin-top: 18%;
}



.tip-list-container {
  background: #e2e0e0;
  padding-top: 1px;
}
