.app-bar-error {
  position: sticky;
  background: #E41F2F !important;
}
.app-bar-warning {
  position: sticky;
  background: #FF9A00 !important;

}
.app-bar-success {
  position: sticky;
  background: #00A047 !important;

}



/*error*/
.round-close-button-plugin-tip-error {
    padding: 10px 10px;
    margin-right: 5px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    box-shadow: none;
    border: none;
    background: transparent;
}

.round-close-button-plugin-tip-error:hover {
  background: #d03c3c !important;
  box-shadow: none;
  border: none;
}

.round-close-button-plugin-tip-error:focus {
  background: #d04848 !important;
  box-shadow: none;
  border: none;
}

/*warning*/
.round-close-button-plugin-tip-warning {
    padding: 10px 10px;
    margin-right: 5px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    box-shadow: none;
    border: none;
    background: transparent;
}

.round-close-button-plugin-tip-warning:hover {
  background: #fbab2b !important;
  box-shadow: none;
  border: none;
}

.round-close-button-plugin-tip-warning:focus {
  background: #f9b13e !important;
  box-shadow: none;
  border: none;
}

/*success*/
.round-close-button-plugin-tip-success {
    padding: 10px 10px;
    margin-right: 5px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    box-shadow: none;
    border: none;
    background: transparent;
}

.round-close-button-plugin-tip-success:hover {
  background: #52a953 !important;
  box-shadow: none;
  border: none;
}

.round-close-button-plugin-tip-success:focus {
  background: #71bd72 !important;
  box-shadow: none;
  border: none;
}



.dialog-content {
  margin-top: 13% !important;
}



.plugin_percentage {
  padding-left: 190px;
  padding-right: 300px;
}
