.plugin_div_body {
    position: absolute !important;
    left: 630px;
    bottom: 30px;
}


.plugin_div_title {
    position: absolute !important;
    left: 630px;
    bottom: 25px;
}


.round_button {
  font-family: arial;
  color: #FFFFFF !important;
  font-size: 16px;
  padding: 4px 4px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  background: #63B8EE;
}
.round_button:hover {
  color: #FAFDFF !important;
  background: #00D5FF;
}
